*{
box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;   
    margin: 0;
}
.first-section{
    display: flex;
    background-image: url(photo/top-banner.png);
    background-repeat:no-repeat ;
    margin:0%;
   
}
h1{
    font-size: 50px;
}
#zulfikars-world{
    color: orangered;
}
.half-whidth{
    width: 47%; 
    padding-left: 40px;   
}
.link-button{
    text-decoration: none;
    color: white;
    background-color:  red;
    background-image: linear-gradient(rgb(58, 30, 24),red);
    padding:10px 40px;
    font-weight: 700%;
    border-radius: 4px;
    
    
}
.half-whidth img{
    width: 95%;
    margin-left: 40px;
    margin-top: 5%;
}
.second-section{
    display: flex;
    margin-top: 5%;
    background-image: url(photo/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.main-div{
    display: flex;
    margin: 0%;
    background-image: url(photo/exp-bg.png);
   background-position: left;
   background-repeat: no-repeat;

}
.fokinnimarka-baby{
    box-shadow: 10px 10px 40px #f77979;
    width: 50%;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 10%;
   padding: 30px;
   border-radius: 7px;
  
}
#h1-foki{
font-size: 32px;
}
#h1-baby{
    font-size: 40px;
}
h3{
    color: rgb(160, 86, 156);
}
#baby{
    border-left:8px solid;
border-image:linear-gradient(#f7a606, #4d9f0c);
border-image-slice: 1;
}
#foki{
    border-left:8px solid;
    border-image:linear-gradient(#f70626, #1439db);
    border-image-slice: 1;
}